{% load static %}

<section id="footer" class="text-white p-5" style="background-color: #F58420;">
    <div class="row d-flex justify-content-between">
        <div class="col-md-6">
            <img class="img-fluid mb-3" style="width: 12rem" src="{% static 'img/logo/learnhill.jpg' %}" alt="">
            <h2>LearnHill</h2>
            <h2>Technologies Pvt. Ltd.</h2>
        </div>

        <div class="col-md-3">
            <div class="d-flex justify-content-between align-items-center mb-5">
                <img class="img-fluid" src="{% static 'img/linkedin.png' %}" style="width: 60px;" alt="">
                <img class="img-fluid" src="{% static 'img/facebook.png' %}" style="width: 60px;" alt="">
                <img class="img-fluid" src="{% static 'img/twitter.png' %}" style="width: 60px;" alt="">
                <img class="img-fluid" src="{% static 'img/youtube.png' %}" style="width: 60px;" alt="">
            </div>
            <a href="{% url 'LearnHillApp:contact' %}" class="btn btn-dark w-100 py-2" style="font-size: 24px; border-radius: 30px;">Contact</a>
        </div>
    </div>
    <div class="my-4" style="border: 1px solid white;"></div>
    <div class="row">
        <div class="d-flex justify-content-between w-100">
            <p>&copy; LearnHill Technologies. Copyright and rights reserved</p>
            <div class="d-flex">
                <p class="mr-3">terms & conditions</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </div>
</section>