* {
  box-sizing: border-box;
  font-family: 'metropolis';
}

#hero .navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#hero .home_banner_video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#hero .overlay{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


#hero .home_banner_content{
  width: 100%;
  height: 90vh;
  margin-top: 80px;
  color: white;
}


#hero .home_banner_heading{
  @media (max-width:576px) {
    font-size: 7vw;
  }
  @media (min-width:576px) {
    font-size: 4vw;
  }
  @media (min-width:768px) {
      font-size: 3.5vw;
  }
  @media (min-width:992px) {
      font-size: 3vw;
  }
}

#hero .home_banner_subheading{

  @media (max-width:576px) {
    font-size: 5vw;
  }
  @media (min-width:576px) {
    font-size: 4vw;
  }
  @media (min-width:768px) {
      font-size: 3vw;
  }
  @media (min-width:992px) {
      font-size: 2vw;
  }
}





#statistics .statistic_container{
  @media(max-width: 576px){
    flex-direction: column;
  }
}


/* Big Past Projects Card */
#projects .partner-logo img{
    width: 100px;
}
#projects .project-statistics{
    width: 100%;
    background-color: #ffa6009c;
    border-radius: 10px;
}
#projects .project-statistics img{
    width: 50px;
}


#enquiry .enquiry_image{
  @media(max-width: 800px){
    display: none;
  }
}

#impact .impact_container{
  @media(min-width: 1200px){
    .impact_img{
      width: 200px;
    }
  }

  @media(min-width: 992px){
    .impact_img{
      width: 300px;
    }
  }

  @media(max-width: 992px){
    flex-direction: column;

    .impact_img{
      margin-bottom: 25px;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .impact_container > div{
      align-items: center;
    }
  }
}

#impact .impact_img_2_container{
  @media(max-width: 992px){
    flex-direction: column-reverse;
  }
}

#offerings .card{
  width: 18rem;
  border-radius: 30px;
  padding: 10px;
  min-height: 620px;
}



.our_expertise_card{
  width: 16rem;
  border-radius: 20px;
}

.our_expertise_card img{
  height: 200px;
}


#testimonials .testimonial_img{
  width: 8rem;
  object-fit: cover;
  object-position: center;
}

#testimonials{
  @media(min-width: 576px){
      .designer_name, .testimonial_heading{
        font-size: 2rem;
      }
      .designer_designation{
        font-size: 1.2rem;
      }
      .testimonial_message{
        font-size: 20px;
      }
      .testimonial_img{
        margin-right: 30px;
      }
    }

    @media(max-width: 576px){
      .testimonial_avatar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .designer_name, .testimonial_heading{
        font-size: 1rem;
      }
      .designer_designation{
        font-size: 0.8rem;
      }
      .testimonial_message{
        font-size: 12px;
      }
    }
  }


  #projects .slider_image{
    height: 90%;
    object-position: center;
    object-fit: cover;
  }



  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;

    @media (max-width: 776px) {
      width: 200px;
      height: 150px;
    }

    @media (max-width: 470px) {
      width: 150px;
      height: 100px;
    }
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: white;
    color: black;
    border-radius: 20px;
  }

  .flip-card-back {
    background-color: #F58420;
    color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
  }
  .flip-card-back h2{
    font-size: 2vw;

    @media (max-width:576px) {
      font-size: 5vw;
    }
    @media (min-width:576px) {
      font-size: 4vw;
    }
    @media (min-width:768px) {
        font-size: 3vw;
    }
    @media (min-width:992px) {
        font-size: 2vw;
    }
  }
  .partner_image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
  }









.see_project_btn{
  font-size: 20px;
}

.card_container{
    border-radius: 30px;
}

.partner_card_image{
    width: 6rem;

    @media (max-width:576px) {
      width: 4.5rem;
      margin-right: 10px;
    }
}

.partner_card_text{
    font-size: 2.2rem;
    margin-bottom: 0px;

    @media (max-width:576px) {
      font-size: 27.5px;
    }
}

.card_image_main{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-width: 10px;
    border-style: solid;
    border-radius: 30px;

    @media (max-width: 576px) {
      border-width: 8px;
    }
}

.card_heading{
    font-size: 44.5px;

    @media (max-width:576px) {
      text-align: center;
      border-radius: 20px;
      font-size: 27.5px;
    }
    @media (min-width:576px) {
      text-align: center;
    }
}




.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;

  @media(max-width: 576px){
  	grid-template-columns: auto auto;
  }
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}