* {
    box-sizing: border-box;
    font-family: 'metropolis';
}


#hero .lms_banner_img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#hero .navbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#hero .overlay{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


#hero .lms_banner_content{
  height: 100vh;
  width: 100%;
  color: white;
}

#hero .lms_banner_content .lms_heading{
  @media(max-width: 360px){
    font-size: 25px;
  }
  @media(min-width: 360px){
    font-size: 30px;
  }
  @media(min-width: 576px){
    font-size: 40px;
  }
  @media(min-width: 992px){
    font-size: 50px;
  }
  @media(min-width: 1200px){
    font-size: 60px;
  }
}

#hero .lms_banner_content .lms_subheading{
  @media(min-width: 360px){
    font-size: 18px;
  }
  @media(min-width: 576px){
    font-size: 20px;
  }
  @media(min-width: 992px){
    font-size: 25px;
  }
  @media(min-width: 1200px){
    font-size: 30px;
  }
}


.card-title{
  color: #3b4351;
  @media (max-width: 576px) {
    font-size: 1.4rem;
  }
  @media (min-width: 576px) {
      font-size: 1.6rem;
  }
  @media (min-width: 992px) {
      font-size: 1.8rem;
  }
  @media (min-width: 1200px) {
      font-size: 2rem;
  }
}


.lms_card_img{
    width: 60%;
    position: relative;
    top: 50px;
}

.lms_feature_card{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 70%;
}



.lms_card{
  width: 80%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}



.lms_heading{
  @media (max-width: 576px) {
      font-size: 23px;
  }
  @media (min-width: 576px) {
      font-size: 27px;
  }
  @media (min-width: 767px) {
      font-size: 31px;
  }
  @media (min-width: 992px) {
      font-size: 35px;
  }
}

.lms_subheading{
  @media (max-width: 576px) {
      font-size: 18px;
  }
  @media (min-width: 576px) {
      font-size: 22px;
  }
  @media (min-width: 767px) {
      font-size: 26px;
  }
  @media (min-width: 992px) {
      font-size: 30px;
  }
}
