* {
    box-sizing: border-box;
    font-family: 'metropolis';
  }


#hero .past_program_banner_img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#hero .navbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#hero .overlay{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


#hero .past_program_banner_content{
  height: 100vh;
  width: 100%;
  color: white;
}


.banner_heading{
  @media(max-width: 360px){
    font-size: 25px;
  }
  @media(min-width: 360px){
    font-size: 30px;
  }
  @media(min-width: 576px){
    font-size: 40px;
  }
  @media(min-width: 992px){
    font-size: 50px;
  }
  @media(min-width: 1200px){
    font-size: 60px;
  }
}

.banner_subheading{
  @media(min-width: 360px){
    font-size: 18px;
  }
  @media(min-width: 576px){
    font-size: 20px;
  }
  @media(min-width: 992px){
    font-size: 25px;
  }
  @media(min-width: 1200px){
    font-size: 30px;
  }
}


/* Statistics CSS */
.project-statistics-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  padding: 10px;
  border-radius: 10px;

  @media (max-width: 767px) {
      grid-template-columns: auto;
  }
}
.project-statistics-item {
  padding: 20px;
  text-align: center;
}

.project-statistics-item img{
  @media (max-width: 992px) {
    width: 3rem;
  }

  @media (min-width: 992px) {
    width: 4rem;
  }
}


/* Our Support CSS */
#past_program_cards .partner-logo img{
  width: 11rem;
  object-fit: contain;
}

.partner-logo{
  @media (max-width: 576px) {
    justify-content: center;
  }
}


/* Past Program Card Images (left Side) */
.past_program_img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#past_program_img_2,
#past_program_img_3,
#past_program_img_4,
#past_program_img_5,
#past_program_img_6{
    @media (max-width: 991px) {
        display: none;
    }
}



/* Upcoming Project CSS */
.section_heading{
  @media (max-width: 576px) {
      font-size: 28px;
  }
  @media (min-width: 576px) {
      font-size: 38px;
  }
  @media (min-width: 767px) {
      font-size: 48px;
  }
  @media (min-width: 992px) {
      font-size: 58.2px;
  }
}

.section_subheading{
  @media (max-width: 576px) {
      font-size: 17px;
  }
  @media (min-width: 576px) {
      font-size: 21px;
  }
  @media (min-width: 767px) {
      font-size: 25px;
  }
  @media (min-width: 992px) {
      font-size: 29px;
  }
}

.card_heading{
  @media (max-width: 576px) {
      font-size: 23px;
  }
  @media (min-width: 576px) {
      font-size: 27px;
  }
  @media (min-width: 767px) {
      font-size: 31px;
  }
  @media (min-width: 992px) {
      font-size: 35px;
  }
}


.content_headings h3{
  @media (max-width: 992px) {
    text-align: center;
  }
}