* {
    box-sizing: border-box;
    font-family: 'metropolis';
  }


#hero .program_banner_img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#hero .navbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#hero .overlay{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


#hero .program_banner_content{
  height: 100vh;
  width: 100%;
  color: white;
}

#hero .program_banner_content .program_heading{
  @media(max-width: 360px){
    font-size: 25px;
  }
  @media(min-width: 360px){
    font-size: 30px;
  }
  @media(min-width: 576px){
    font-size: 40px;
  }
  @media(min-width: 992px){
    font-size: 50px;
  }
  @media(min-width: 1200px){
    font-size: 60px;
  }
}

#hero .program_banner_content .program_subheading{
  @media(min-width: 360px){
    font-size: 18px;
  }
  @media(min-width: 576px){
    font-size: 20px;
  }
  @media(min-width: 992px){
    font-size: 25px;
  }
  @media(min-width: 1200px){
    font-size: 30px;
  }
}



#enquiry .enquiry_image{
  @media(max-width: 800px){
    display: none;
  }
}

.program_img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.services_img:hover{
  cursor: pointer;
}




.project_image_1, .project_image_2, .project_image_3{
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 10px solid #F58420;
}
.project_image_1{
  width: 25vw;
  height: 25vw;
  margin-left: auto;
}
.project_image_2{
  height: 15vw;
  width: 15vw;
  position: absolute;
  top: 30%;
}
.project_image_3{
  width: 20vw;
  height: 20vw;
  position: relative;
  top: 5%;
  margin-left: auto;
}





.programs_card img{
  width: 250px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  border: 10px solid #F58420;
}

.programs_card h5{
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 20px;
  color: white;
  background-color: #F58420;
}


.select_program{
  transition-duration: 0.4s;
  @media(max-width: 360px){
    width: 50px;
  }
  @media(min-width: 360px){
    width: 75px;
  }
  @media(min-width: 576px){
    width: 100px;
  }
  @media(min-width: 992px){
    width: 125px;
  }
  @media(min-width: 1200px){
    width: 150px;
  }
}

.program_image{
  @media(max-width: 992px) {
    display: none !important;
  }
}



.select_program_text{
  font-size: calc(18px + 0.390625vw);
}

.service_header{
  margin-bottom: 100px;
  border-radius: 35px;
  cursor: pointer;
}


.service_heading{
  margin-bottom: 100px;

  @media(min-width: 360px){
    font-size: 30px;
  }
  @media(min-width: 576px){
    font-size: 40px;
  }
  @media(min-width: 992px){
    font-size: 50px;
  }
  @media(min-width: 1200px){
    font-size: 60px;
  }
}


.programs_card{
  cursor: pointer;
}