{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/community.css' %}">
{% endblock %}

{% block content %}

    <section id="hero">
        <video class="community_banner_video" src="{% static 'video/community_banner.MP4' %}" autoplay loop playsinline muted></video>
        <div class="overlay">

            {% include 'includes/navbar1.html' %}

            <div class="community_banner_content d-flex justify-content-center align-items-center">
                <div class="container d-flex flex-column justify-content-center align-items-center">
                    <p class="community_heading"> <span style="color: #F58420;">Community Power:</span> Joining Hands, Changing Lives!</p>
                    <p class="community_subheading">Through inclusive education, skill development, and access to essential services, we empower individuals to reach their full potential, uplifting communities and creating a legacy of empowerment for generations to come.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="my-5" id="community_projects">
        <div class="container">

            {% for program in community_programs %}
            <div class="d-flex justify-content-center align-items-center community_card_container {% if forloop.counter|divisibleby:2 %}flex-row-reverse{% endif %}">
                <img class="community_img mb-4 {% if forloop.counter|divisibleby:2 %}ml-md-5{% else %}mr-md-5{% endif %}" src="{{ program.image1.url }}" alt="">

                <div class="d-flex flex-column">
                    <p class="community_heading">{{program.heading}}</p>
                    <p class="community_description text-muted"> {{ program.description }} </p>
                </div>
            </div>
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.5);"></div>

            {% empty %}
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.3);"></div>
            <h2 class="text-muted">No Community Programs !!!</h2>
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.3);"></div>
            {% endfor %}
        </div>
    </section>

    {% include 'includes/enquiry.html' %}
    {% include 'includes/footer.html' %}

{% endblock %}