{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/community.css' %}">
{% endblock %}

{% block content %}

    <section id="hero">
        <video class="community_banner_video" src="{% static 'video/community_banner.MP4' %}" autoplay loop playsinline muted></video>
        <div class="overlay">

            {% include 'includes/navbar1.html' %}

            <div class="community_banner_content d-flex justify-content-center align-items-center">
                <div class="container d-flex flex-column justify-content-center align-items-center">
                    <p class="community_heading"> <span style="color: #F58420;">Community Power:</span> Joining Hands, Changing Lives!</p>
                    <p class="community_subheading">Through inclusive education, skill development, and access to essential services, we empower individuals to reach their full potential, uplifting communities and creating a legacy of empowerment for generations to come.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="my-5" id="community_projects">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center community_card_container">
                <img class="community_img mb-4 mr-5" src="{% static 'img/community projects/lab_revival.jpg' %}" alt="">
                <div class="d-flex flex-column">
                    <p class="community_heading">Reviving the Past in our Lab of Possiblities</p>
                    <p class="community_description text-muted">Lab Revival program is designed to breathe new life into school laboratories by revitalizing and modernizing them. It recognizes the importance of providing students with well-equipped and engaging learning spaces to foster scientific curiosity and exploration. The program focuses on upgrading the infrastructure, equipment, and resources in these labs to create dynamic learning environments that inspire and support hands-on scientific inquiry.</p>
                </div>
            </div>
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.5);"></div>
            <div class="d-flex align-items-center community_card_container community_card_2">
                <div class="d-flex flex-column">
                    <p class="community_heading">Free Upskilling for Lifelong Learning and Growth</p>
                    <p class="community_description text-muted">Free Upskilling program aims to bridge the education and skill development gap by providing accessible and high-quality learning opportunities for individuals from diverse backgrounds. The program recognizes that access to education and professional development can significantly impact an individual's personal growth, employability, and economic opportunities.</p>
                </div>
                <img class="community_img align-items-center mb-4 ml-5" src="{% static 'img/community projects/free_upskilling.jpg' %}" alt="">
            </div>
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.5);"></div>
            <div class="d-flex align-items-center community_card_container">
                <img class="community_img mb-4 mr-5" src="{% static 'img/community projects/student_literacy.jpg' %}" alt="">
                <div class="d-flex flex-column">
                    <p class="community_heading">Empowering Students through Literacy</p>
                    <p class="community_description text-muted">Student literacy refers to the ability of students to read, write, comprehend, and communicate effectively. Literacy skills are essential for academic success, personal development, and active participation in society.</p>
                    <p class="community_description text-muted">Student literacy is a foundational skill that empowers individuals, promotes critical thinking, and supports academic and personal growth. By nurturing student literacy, educators and communities contribute to building a literate and engaged society.</p>
                </div>
            </div>
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.5);"></div>
        </div>
    </section>


    <section id="enquiry" class="my-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Enquiry Form</h1>
                    <h5 class="text-muted mb-4">Interested in conducting an Educational Program? Fill out to learn more!</h5>

                    <form action="" method="post">
                        <input type="text" name="full_name" id="full_name" class="form-control mb-2" placeholder="Full Name">
                        <input type="email" name="email" id="email" class="form-control mb-2" placeholder="Email Address">
                        <input type="text" name="country" id="country" class="form-control mb-2" placeholder="Country">
                        <input type="text" name="state" id="state" class="form-control mb-2" placeholder="State">
                        <input type="text" name="org_name" id="org_name" class="form-control mb-2" placeholder="Name of School / Organization">
                        <input type="number" name="phone" id="phone" class="form-control mb-2" placeholder="Mobile Number">
                        <textarea name="query" id="query" cols="30" rows="5" class="form-control mb-2" placeholder="Type your query here..."></textarea>
                        <button class="btn text-white w-100 py-2" style="background-color: #0172D0;">Submit</button>
                    </form>
                </div>
                <div class="col enquiry_image">
                    <div class="d-flex h-100 align-items-center">
                        <img class="w-100 img-fluid" src="{% static 'img/Home Page/enquiry.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/footer.html' %}

{% endblock %}