{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/community.css' %}">
{% endblock %}

{% block content %}

    <section id="hero">
        <video class="community_banner_video" src="{% static 'video/community_banner.MP4' %}" autoplay loop playsinline muted></video>
        <div class="overlay">

            {% include 'includes/navbar1.html' %}

            <div class="community_banner_content d-flex justify-content-center align-items-center">
                <div class="container d-flex flex-column justify-content-center align-items-center">
                    <p class="community_heading"> <span style="color: #F58420;">Community Power:</span> Joining Hands, Changing Lives!</p>
                    <p class="community_subheading">Through inclusive education, skill development, and access to essential services, we empower individuals to reach their full potential, uplifting communities and creating a legacy of empowerment for generations to come.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="my-5" id="community_projects">
        <div class="container">

            {% for program in community_programs %}
            <div class="d-flex justify-content-center align-items-center community_card_container {% if forloop.counter|divisibleby:2 %}flex-row-reverse{% endif %}">
                <img class="community_img mb-4 {% if forloop.counter|divisibleby:2 %}ml-md-5{% else %}mr-md-5{% endif %}" src="{{ program.image1.url }}" alt="">

                <div class="d-flex flex-column">
                    <p class="community_heading">{{program.heading}}</p>
                    <p class="community_description text-muted"> {{ program.description }} </p>
                </div>
            </div>
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.5);"></div>

            {% empty %}
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.3);"></div>
            <h2 class="text-muted">No Community Programs !!!</h2>
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.3);"></div>
            {% endfor %}
        </div>
    </section>


    <section id="enquiry" class="my-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Enquiry Form</h1>
                    <h5 class="text-muted mb-4">Interested in conducting an Educational Program? Fill out to learn more!</h5>

                    <form action="" method="post">
                        <input type="text" name="full_name" id="full_name" class="form-control mb-2" placeholder="Full Name">
                        <input type="email" name="email" id="email" class="form-control mb-2" placeholder="Email Address">
                        <input type="text" name="country" id="country" class="form-control mb-2" placeholder="Country">
                        <input type="text" name="state" id="state" class="form-control mb-2" placeholder="State">
                        <input type="text" name="org_name" id="org_name" class="form-control mb-2" placeholder="Name of School / Organization">
                        <input type="number" name="phone" id="phone" class="form-control mb-2" placeholder="Mobile Number">
                        <textarea name="query" id="query" cols="30" rows="5" class="form-control mb-2" placeholder="Type your query here..."></textarea>
                        <button class="btn text-white w-100 py-2" style="background-color: #0172D0;">Submit</button>
                    </form>
                </div>
                <div class="col enquiry_image">
                    <div class="d-flex h-100 align-items-center">
                        <img class="w-100 img-fluid" src="{% static 'img/home/enquiry.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/footer.html' %}

{% endblock %}