{% extends 'base.html' %}
{% load static %}

{% block title %} Contact {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}

    {% include 'includes/navbar2.html' %}

    <section id="contact" class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 px-4">
                    <p class="contact_heading">Interested in conducting an <span style="color: #F58420;">educational program?</span> Fill out the form to learn more!</p>
                    <p class="contact_subheading mb-5 text-justify">Our team is committed to providing exceptional service, and we are here to assist you every step of the way. If you have any questions or concerns feel free to reach us at <a style="color: #F58420;" href="mailto:operations@learnhill.in">operations@learnhill.in</a></p>

                    <div class="row mb-4">
                        <div class="col-6">
                            <div class="d-flex flex-column contact_phone">
                                <i class="fa-2x fa-solid fa-phone mb-2" style="color: #F58420;"></i>
                                <div class="d-flex flex-column">
                                    <p class="mb-0">Phone</p>
                                    <small><a style="color: black;" href="tel:+917872828815">+91 78728 28815</a></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column contact_email">
                                <i class="fa-solid fa-envelope fa-2x mb-2" style="color: #F58420;"></i>
                                <div class="d-flex flex-column">
                                    <p class="mb-0">E-Mail</p>
                                    <small><a style="color: black;" href="mailto:operations@learnhill.in">operations@learnhill.in</a></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-6">
                            <div class="d-flex flex-column" onclick="showAddress1()" style="cursor: pointer;">
                                <i class="fa-solid fa-location-dot fa-2x mb-2" style="color: #F58420;"></i>
                                <div class="d-flex flex-column">
                                    <p class="mb-0">Address 1</p>
                                    <small>Corporate Office 302, <br>Swagata Envision, Six Mile<br>Guwahati - 781022</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column" onclick="showAddress2()" style="cursor: pointer;">
                                <i class="fa-solid fa-location-dot fa-2x mb-2" style="color: #F58420;"></i>
                                <div class="d-flex flex-column">
                                    <p class="mb-0">Address 2</p>
                                    <small>R&D Office 210A, <br>IIT Guwahati Research Park <br>IIT Guwahati, Amingaon - 781039</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="mb-5">Get in <span style="color: #F58420;">touch</span> </h1>
                    <form action="{% url 'LearnHillApp:contact' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="full_name" id="full_name" class="contact_input form-control mb-3" placeholder="Full Name" required>
                        <input type="email" name="email" id="email" class="contact_input form-control mb-3" placeholder="Email Address" required>
                        <input type="text" name="country" id="country" class="contact_input form-control mb-3" placeholder="Country" required>
                        <input type="text" name="state" id="state" class="contact_input form-control mb-3" placeholder="State" required>
                        <input type="text" name="org_name" id="org_name" class="contact_input form-control mb-3" placeholder="Name of School / Organization" required>
                        <input type="tel" name="phone" id="phone" class="contact_input form-control mb-3" placeholder="Mobile Number" required>
                        <textarea name="query" id="query" cols="30" rows="5" class="contact_input form-control mb-4" placeholder="Type your query here..." required></textarea>
                        <button class="btn text-white w-100 py-2" type="submit" style="background-color: #F58420;">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container my-5" id="address_1">
            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.1148901572083!2d91.81236609999999!3d26.127796699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a59cb4ae14cf7%3A0xbd240c859fe5bcc!2sLearnHill%20Technologies!5e0!3m2!1sen!2sin!4v1693153550472!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="container my-5" id="address_2">
            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.4154236374525!2d91.6877312!3d26.1831613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5b23a93a0c25%3A0xc016762f66720d25!2sIITG%20Research%20Park!5e0!3m2!1sen!2sin!4v1693153586056!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>


    {% include 'includes/footer.html' %}

    {% block extra_js %}
        <script>
            function showAddress1(){
                document.getElementById('address_1').style.display = 'block';
                document.getElementById('address_2').style.display = 'none';
            }
            function showAddress2(){
                document.getElementById('address_1').style.display = 'none';
                document.getElementById('address_2').style.display = 'block';
            }
            window.onload = showAddress1();
        </script>
    {% endblock %}

{% endblock %}