{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}


    <section id="hero">
        <video class="home_banner_video" src="{% static 'video/home_banner.mp4' %}" autoplay loop playsinline muted></video>

        <div class="overlay">
            {% include 'includes/navbar1.html' %}
            <div class="home_banner_content d-flex justify-content-center align-items-center">
                <div class="container d-flex flex-column">
                    <p class="home_banner_heading">Unlocking <span style="color: #F58420;" >Future Potential:</span> <br>Empowering the 21st Century Mind </p>
                    <p class="home_banner_subheading">Explore, Innovate, and excel through our cutting-edge skills, STEM activities, and skills development projects to prepare students for a successful future in a rapidly changing world.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="statistics" style="margin: 100px 0px;">
        <div class="container my-5">
            <h1 class="text-center mb-5 font-weight-bold">Statistics</h1>

            <div class="grid-container">
                <div class="grid-item">
                    <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                        <img class="mb-2" style="width: 80px;" src="{% static 'img/home/statistics/states.png' %}" alt="">
                        <h5>{{ statistics.states_covered }}+</h5>
                        <h5 class="text-center">States Covered</h5>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                        <img class="mb-2" style="width: 80px;" src="{% static 'img/home/statistics/school.png' %}" alt="">
                        <h5>{{ statistics.schools }}+</h5>
                        <h5 class="text-center">Schools</h5>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                        <img class="mb-2" style="width: 80px;" src="{% static 'img/home/statistics/teachers.png' %}" alt="">
                        <h5>{{ statistics.teachers_trained }}+</h5>
                        <h5 class="text-center">Teachers <br>Trained</h5>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                        <img class="mb-2" style="width: 80px;" src="{% static 'img/home/statistics/students.png' %}" alt="">
                        <h5>{{ statistics.students_impacted }}+</h5>
                        <h5 class="text-center">Student <br>Impacted</h5>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                        <img class="mb-2" style="width: 80px;" src="{% static 'img/home/statistics/employment.png' %}" alt="">
                        <h5>{{ statistics.employment_generated }}+</h5>
                        <h5 class="text-center">Employment <br>Generated</h5>
                    </div>
                </div>
            </div>

            <!-- <div class="statistic_container d-flex justify-content-between w-100 align-items-center">
            </div> -->
        </div>
    </section>

    <section id="about"  style="margin: 100px 0px;">
        <div class="container my-5">
            <h1 class="text-center mb-5">About Learn<span style="color: #F58420;">Hill</span></h1>
            <h3 class="text-muted text-center mb-3">Igniting the potential of the next generation through cutting-edge education services tailored to the K12 ecosystem</h3>
            <p class="text-justify mx-3">We go beyond traditional classrooms by setting up Innovation Labs, STEM Labs, and Tinkering Labs in schools. These dynamic learning environments encourage hands-on exploration, critical thinking, and problem-solving abilities. Our dedication extends beyond student enrichment. We also offer comprehensive skill training programs that empower students and educators alike to thrive in the digital age. Our commitment to bring meaningful impact extends to facilitating career pathways for our students and teachers. Through strategic partnerships and networking opportunities, we connect individuals with relevant job placements, ensuring that their newfound skills and talents are applied in real-world contexts.</p>
        </div>
    </section>


    <section id="partners" style="margin: 100px 0px;">
        <h1 class="text-center mb-5 font-weight-bold">Our Partners</h1>
        <div class="container mt-5">
            <div class="d-flex justify-content-around mb-4 flex-wrap align-self-center">

                {% for partner in partners %}
                <div class="flip-card mb-4 shadow">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img class="partner_image" src="{{ partner.logo.url }}" alt="Avatar">
                      </div>
                      <div class="flip-card-back d-flex justify-content-center align-items-center">
                        <h2 class="p-4">{{ partner.name }}</h2>
                      </div>
                    </div>
                  </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <section id="projects" style="margin: 100px 0px;">
        <h1 class="text-center mb-5 font-weight-bold">Past Projects</h1>

        <div class="container">

            <div class="row">
                <div class="col">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            {% for program in past_programs %}
                                {% if forloop.counter == 1 %}
                                <div class="carousel-item active">
                                {% else %}
                                <div class="carousel-item">
                                {% endif %}

                                    <div class="container px-5 py-3 border card_container" style="background-color: {{ program.hash_color_background }};">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 justify-content-center align-items-center d-flex">
                                                <img class="img-fluid card_image_main" src="{{ program.image1.url }}" style="border-color: {{ program.hash_color_text }};" alt="">
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="d-flex flex-column">
                                                    <p class="mb-3 card_heading" style="color: {{ program.hash_color_text }};">{{program.heading}} <br> {{ program.start_date|date:"Y" }}-{{ program.end_date|date:"y" }} </p>
                                                    <div class="d-flex align-items-center justify-content-between shadow px-4 py-3 mb-3 bg-white" style="border-radius: 30px;">
                                                        <img class="mr-5 img-fluid partner_card_image" src="{% static 'img/past_programs/assam.png' %}" alt="">
                                                        <p class="partner_card_text" style="color: {{ program.hash_color_text }};">Assam</p>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between shadow px-4 py-3 mb-4 bg-white" style="border-radius: 30px;">
                                                        <img class="mr-5 img-fluid partner_card_image" src="{% static 'img/home/statistics/employment.png' %}" alt="">
                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                            <p class="partner_card_text" style="color: {{ program.hash_color_text }};">{{program.students_trained}}+</p>
                                                            <div class="mb-0 text-center" style="color: {{ program.hash_color_text }};">Students Impacted</div>
                                                        </div>
                                                    </div>
                                                    <p style="margin-left: auto;"><a class="see_project_btn" href="{% url 'LearnHillApp:past_programs' %}" style="color: {{ program.hash_color_text }};">See Projects <i class="fa fa-arrow-right"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5" id="offerings">
        <h1 class="text-center mb-5 font-weight-bold">Our Offerings</h1>

        <div class="container my-5 p-4">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <div class="card shadow my-3 mx-4">
                    <div class="d-flex justify-content-center">
                        <img class="card-img-top img-fluid mt-4" src="{% static 'img/programs/artificial-intelligence.png' %}" style="width: 130px;" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">21<sup>st</sup> Century Skill Programs</h4>
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>Tinkering Lab</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>AI Lab</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>STEM Lab</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>3D Design and Printing</h5>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>Electronics and Coding</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow my-3 mx-4">
                    <div class="d-flex justify-content-center">
                        <img class="card-img-top img-fluid offering_img p-4" src="{% static 'img/programs/stem.png' %}" style="width: 160px;" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mb-5 text-center">STEM Activities</h4>
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>Science / Maths Club</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>Science Congress</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>STEM Kits</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>State / National Quiz</h5>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>State / National Olympiad</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow my-3 mx-4">
                    <div class="d-flex justify-content-center mb-3">
                        <img class="card-img-top img-fluid offering_img" src="{% static 'img/programs/abilities.png' %}" style="width: 130px;" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Skill Development Programs</h4>
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>21<sup>st</sup> Century Skill Training</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>Coding, Robotics, AI, Automation</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>Entreprenuerial Mindset</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>Employability Skills Training</h5>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-2x fa-solid fa-circle-check mr-3" style="color: #01AC3A;"></i>
                                <h6>Job Placement</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 p-5" id="expertise" style="background-color: #FFC04D;">
        <h1 class="text-center mb-5 font-weight-bold">Our Expertise</h1>

        <div class="container">
            <div class="d-flex flex-wrap justify-content-around align-self-center">
                <div class="card shadow px-3 pt-3 mb-5 our_expertise_card">
                    <img class=" img-fluid" src="{% static 'img/home/AI coding lab 23.jpg' %}" style="border-radius: 20px;" alt="Card image cap">
                    <div class="card-body p-2">
                        <h5 class="text-center mb-0">Artificial Intelligence</h5>
                    </div>
                </div>
                <div class="card shadow px-3 pt-3 mb-5 our_expertise_card">
                    <img class=" img-fluid" src="{% static 'img/home/coding.jpg' %}" style="border-radius: 20px;" alt="Card image cap">
                    <div class="card-body p-2">
                        <h5 class="text-center mb-0 mt-2">Coding</h5>
                    </div>
                </div>
                <div class="card shadow px-3 pt-3 mb-5 our_expertise_card">
                    <img class=" img-fluid" src="{% static 'img/home/ml.jpg' %}" style="border-radius: 20px;" alt="Card image cap">
                    <div class="card-body p-3">
                        <h5 class="text-center mb-0">Machine Learning</h5>
                    </div>
                </div>
                <div class="card shadow px-3 pt-3 mb-5 our_expertise_card">
                    <img class=" img-fluid" src="{% static 'img/home/iot.jpg' %}" style="border-radius: 20px;" alt="Card image cap">
                    <div class="card-body p-3">
                        <h5 class="text-center mb-0">Internet of Things</h5>
                    </div>
                </div>
                <div class="card shadow px-3 pt-3 mb-5 our_expertise_card">
                    <img class=" img-fluid" src="{% static 'img/home/Design Thinking.jpg' %}" style="border-radius: 20px;" alt="Card image cap">
                    <div class="card-body p-3">
                        <h5 class="text-center mb-0">Design Thinking</h5>
                    </div>
                </div>
                <div class="card shadow px-3 pt-3 mb-5 our_expertise_card">
                    <img class=" img-fluid" src="{% static 'img/home/presentation.jpg' %}" style="border-radius: 20px;" alt="Card image cap">
                    <div class="card-body p-3">
                        <h5 class="text-center mb-0">Presentation</h5>
                    </div>
                </div>
                <div class="card shadow px-3 pt-3 mb-5 our_expertise_card">
                    <img class=" img-fluid" src="{% static 'img/home/experimentation.jpg' %}" style="border-radius: 20px;" alt="Card image cap">
                    <div class="card-body p-3">
                        <h5 class="text-center mb-0">Experimentation</h5>
                    </div>
                </div>
                <div class="card shadow px-3 pt-3 mb-5 our_expertise_card">
                    <img class=" img-fluid" src="{% static 'img/home/robotics.jpg' %}" style="border-radius: 20px;" alt="Card image cap">
                    <div class="card-body p-3">
                        <h5 class="text-center mb-0">Robotics</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="impact" style="margin: 100px 0px;">
        <h1 class="text-center mb-5">Our Impact Programs</h1>

        <div class="container m-auto">
            <p class="mb-5">
                LearnHill has made a significant impact by providing neo-skills education to school students and upskilling teachers to impart 21st-century skills. They have successfully implemented many education-related projects, benefiting more than 75,000 students in 700+ schools.
                LearnHill's impactful Programs, including Lab Revival, Free Upskilling, and Student Literacy, are driving positive change in education.
            </p>

            <div class="d-flex justify-content-center align-items-center mb-5 impact_container">
                <img class="img-fluid impact_img mr-5" style="border: 10px solid #F58420; border-radius: 30px;" src="{% static 'img/home/impact/Free upskilling.jpg' %}" alt="">
                <div class="d-flex flex-column">
                    <h3>Lab Revival</h3>
                    <p>The Purpose of the Lab Revival Program is to bring new life to school laboratories by revitalizing and mordernizing them.</p>
                    <span>
                        <button class="btn text-white" style="background-color: #F58420;">Explore More</button>
                    </span>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center my-5 impact_container impact_img_2_container">
                <div class="d-flex flex-column">
                    <h3>Free Upskilling</h3>
                    <p>Free Upskilling Program addresses education and skill gaps by providing individuals with inclusive and modern learning opportunities.</p>
                    <span>
                        <button class="btn text-white" style="background-color: #F58420;">Explore More</button>
                    </span>
                </div>
                <img class="img-fluid impact_img ml-5" style="border: 10px solid #F58420; border-radius: 30px;" src="{% static 'img/home/impact/Lab revival.jpg' %}" alt="">
            </div>
            <div class="d-flex justify-content-center align-items-center mb-5 impact_container">
                <img class="img-fluid impact_img mr-5" style="border: 10px solid #F58420; border-radius: 30px;" src="{% static 'img/home/impact/Student literacy.jpg' %}" alt="">
                <div class="d-flex flex-column">
                    <h3>Student Literacy</h3>
                    <p>Student Literacy is Foundational Skill that empowers individuals, fosters critical thinking, and supports academic and personal Growth</p>
                    <span>
                        <button class="btn text-white" style="background-color: #F58420;">Explore More</button>
                    </span>
                </div>
            </div>
        </div>
    </section>


    <!-- <section id="testimonials" style="margin: 120px 0px;">
        <h1 class="text-center mb-5">Feedback & Testimonials</h1>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row m-auto">
                                    <div class="d-flex">
                                        <div class="col d-flex flex-column justify-content-center align-items-center p-4 border">
                                            <div class="d-flex w-100 justify-content-center mb-4 testimonial_avatar">
                                                <img class="rounded-circle shadow-1-strong testimonial_img" src="{% static 'img/home/enquiry.jpg' %}" alt="avatar" />
                                                <div class="">
                                                    <p class="mb-0 designer_name">Vaibhav Paliwal</p>
                                                    <p class="text-muted designer_designation">Lead Designer</p>
                                                    <ul class="list-unstyled d-flex text-warning mb-0">
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p class="mb-3 testimonial_heading"><strong>It was a very good Experience</strong></p>
                                            <p class="text-muted text-center testimonial_message">
                                                <i class="fas fa-quote-left"></i>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row m-auto"">
                                    <div class="d-flex justify-content-between">
                                        <div class="col d-flex flex-column justify-content-center align-items-center p-4 border">
                                            <div class="d-flex w-100 justify-content-center mb-4 testimonial_avatar">
                                                <img class="rounded-circle shadow-1-strong testimonial_img" src="{% static 'img/home/enquiry.jpg' %}" alt="avatar" />
                                                <div class="">
                                                    <h3 class="mb-0 designer_name">Ketul Madhwani</h3>
                                                    <h5 class="text-muted designer_designation">UI Designer</h5>
                                                    <ul class="list-unstyled d-flex text-warning mb-0">
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p class="mb-3 testimonial_heading"><strong>It was a very good Experience</strong></p>
                                            <p class="text-muted text-center testimonial_message">
                                                <i class="fas fa-quote-left"></i>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row m-auto">
                                    <div class="d-flex justify-content-between">
                                        <div class="col d-flex flex-column justify-content-center align-items-center p-4 border">
                                            <div class="d-flex w-100 justify-content-center align-items-center mb-4 testimonial_avatar">
                                                <img class="rounded-circle shadow-1-strong testimonial_img" src="{% static 'img/home/enquiry.jpg' %}" alt="avatar" />
                                                <div class="">
                                                    <h3 class="mb-0 designer_name">Dev Sanger</h3>
                                                    <h5 class="text-muted designer_designation">UX Designer</h5>
                                                    <ul class="list-unstyled d-flex text-warning mb-0">
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                        <li><i class="fas fa-star fa-sm"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p class="mb-3 testimonial_heading"><strong>It was a very good Experience</strong></p>
                                            <p class="text-muted text-center testimonial_message">
                                                <i class="fas fa-quote-left"></i>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    {% include 'includes/footer.html' %}

{% endblock %}
