{% extends 'base.html' %}
{% load static %}

{% block title %} LMS {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/lms.css' %}">
{% endblock %}

{% block content %}

    <section id="hero">
        <img class="lms_banner_img img-fluid" src="{% static 'img/lms/lms_banner.png' %}" alt="">
        <div class="overlay">
            {% include 'includes/navbar1.html' %}

            <div class="lms_banner_content d-flex justify-content-center align-items-center">
                <div class="container d-flex flex-column px-4">
                    <p class="lms_heading">Teach <span style="color: #F58420;">Live</span> & <span style="color: #F58420;">Manage</span> Classroom Seamlessly</p>
                    <p class="lms_subheading mb-5">Access Live and Manage your course seamlessly</p>
                    <span><a href="https://lms.learnhill.in/auth" class="btn px-5 text-white px-5 py-2" style="background-color: #F58420; font-size: 20px;">Go to Course <i class="fa-solid fa-arrow-right ml-2"></i></a></span>
                </div>
            </div>
        </div>
    </section>


    <section style="background-color: #f8f8f8;">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center">
                    <div class="card mb-5 p-4 shadow lms_card" >
                        <img class="card-img-top" src="{% static 'img/lms/access_course.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Access Your Course</h2>
                            <p class="card-text text-muted"></p>
                        </div>
                    </div>
                    <div class="card mb-5 p-4 shadow lms_card" >
                        <img class="card-img-top" src="{% static 'img/lms/manage_classes.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Manage Classes & Communicate</h2>
                            <p class="card-text text-muted">Preview and complete assignments, quizzes, discuss with peers and much more</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" style="width: 80%;">
                        <span style="margin-top: 20px;"><a href="https://lms.learnhill.in/auth" class="btn px-5 py-3 text-white" style="background-color: #F58420; font-size: 20px;">Go To Course <i class="fa-solid fa-arrow-right ml-2"></i></a></span>
                    </div>

                </div>
                <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center">
                    <p class="my-5 lms_heading">Access Your <br> Learn<span style="color: #F58420;">Hill</span> Course <br>in Minutes</p>
                    <div class="card mb-5 p-4 shadow lms_card" >
                        <img class="card-img-top" src="{% static 'img/lms/free_access.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title"> Free Access</h2>
                            <p class="card-text text-muted">No setup costs and forever free for LearnHill teachers, students and organizations</p>
                        </div>
                    </div>
                    <div class="card mb-5 p-4 shadow lms_card" >
                        <img class="card-img-top" src="{% static 'img/lms/lively_interaction.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Lively Interaction</h2>
                            <p class="card-text  text-muted">Interact with students on our custom designed 2-way interactive video classroom</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container d-flex flex-column align-items-center mt-5">
            <p class="mb-3 lms_heading"><b>#ReachAllTeachAll</b></p>
            <p class="lms_subheading mx-5 text-center">Forever <span style="color: #F58420;">Free</span> for Learn<span style="color: #F58420;">Hill</span> Educators & Trainers</p>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex flex-column align-items-center mx-3">
                        <img class="lms_card_img" src="{% static 'img/lms/create_dashboard.png' %}" alt="Card image cap">
                        <div class="p-5 mt-3 d-flex flex-column align-items-center" style="background-color: #fcf7dd;">
                            <h3 class="card-title text-center" style="color: #3b4351;">Create your Beautiful <br> teacher courseboard</h3>
                            <p class="card-text text-center">Your online teacher identity with all your live courses listed elegantly with batches & timings</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex flex-column align-items-center mx-3">
                        <img class="lms_card_img" src="{% static 'img/lms/talk_live.png' %}" alt="Card image cap">
                        <div class="p-5 mt-3 d-flex flex-column align-items-center" style="background-color: #fcf7dd;">
                            <h3 class="card-title text-center" style="color: #3b4351;">Take Live, online <br> 2-way video classes.</h3>
                            <p class="card-text text-center">Integrated with state-of-the-art Video Conferencing Zoom, plus homework, chat, learner workspace & many more features.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="py-5" style="background-color: #f8f8f8;">
        <div class="container">
            <div class="row px-5">
                <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
                    <p class="lms_heading text-center"><b>Bringing physical <br>classrooms closer <br>to you</b></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex shadow my-5 justify-content-center align-items-center p-3 lms_feature_card">
                        <i class="fa-2x fa-solid fa-circle-check mr-3"></i>
                        <p class="mb-0">Live classes with whiteboard</p>
                    </div>
                    <div class="d-flex shadow my-5 justify-content-center align-items-center p-3 ml-auto lms_feature_card">
                        <i class="fa-2x fa-solid fa-circle-check mr-3"></i>
                        <p class="mb-0">Online Assessment & Quiz</p>
                    </div>
                    <div class="d-flex my-5 shadow justify-content-center align-items-center p-3 lms_feature_card">
                        <i class="fa-2x fa-solid fa-circle-check mr-3"></i>
                        <p class="mb-0">Homework Organizer</p>
                    </div>
                    <div class="d-flex my-5 shadow justify-content-center align-items-center p-3 ml-auto lms_feature_card">
                        <i class="fa-2x fa-solid fa-circle-check mr-3"></i>
                        <p class="mb-0">2-way discussion form</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/footer.html' %}

{% endblock %}
