{% extends 'base.html' %}
{% load static %}

{% block title %} past_programs {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/past_programs.css' %}">
    <link rel='stylesheet' href="{% static 'css/community.css' %}">
{% endblock %}

{% block content %}

    <section id="hero">
        <img class="past_program_banner_img img-fluid" src="{% static 'img/past_programs/Banner Image.jpg' %}" alt="">
        <div class="overlay">
            {% include 'includes/navbar1.html' %}

            <div class="past_program_banner_content d-flex justify-content-center align-items-center px-4">
                <div class="container d-flex flex-column">
                    <p class="banner_heading mb-0">Unlock Innovation through</p>
                    <p class="banner_heading" style="color: #F58420;">Inspiring Projects</p>
                    <p class="banner_subheading">Explore the remarkable projects done by LearnHill Technologies. As the rapidly growing network of educators, students, and institutions, We creates extraordinary projects in coding, AI, robotics & more.</p>
                </div>
            </div>
        </div>
    </section>

    <p class="text-center my-5 section_heading"><span style="color: #F58420;">Past</span> Projects</p>


    <section id="past_program_cards">
        {% for program in past_programs %}
        <div class="container my-5" style="background-color: #F58420; border-radius: 20px 20px 40px 40px;">
            <p class="text-center mb-0 py-3 text-white card_heading">{{ program.heading }}</p>
            <div class="row p-5 border shadow" style="background-color: white; border-radius: 40px;">
                <div class="col-lg-5 project-images">
                    <div class="d-flex flex-column">
                        {% if program.image1 %}
                        <img class="img-fluid mb-4 past_program_img" src="{{ program.image1.url }}" alt="" style="border: 10px solid #F58420;">
                        {% endif %}
                        {% if program.image2 %}
                        <img class="img-fluid mb-4 past_program_img" id="past_program_img_2" src="{{ program.image2.url }}" alt="" style="border: 10px solid #F58420;">
                        {% endif %}
                        {% if program.image3 %}
                        <img class="img-fluid mb-4 past_program_img" id="past_program_img_3" src="{{ program.image3.url }}" alt="" style="border: 10px solid #F58420;">
                        {% endif %}
                        {% if program.image4 %}
                            <img class="img-fluid mb-3 past_program_img" id="past_program_img_4" src="{{ program.image4.url }}" alt="" style="border: 10px solid #F58420;">
                        {% endif %}
                        {% if program.image5 %}
                            <img class="img-fluid mb-3 past_program_img" id="past_program_img_5" src="{{ program.image5.url }}" alt="" style="border: 10px solid #F58420;">
                        {% endif %}
                        {% if program.image6 %}
                            <img class="img-fluid mb-3 past_program_img" id="past_program_img_6" src="{{ program.image6.url }}" alt="" style="border: 10px solid #F58420;">
                        {% endif %}

                    </div>
                </div>
                <div class="col-lg-7">
                    <p class="card_description text-justify">{{ program.description }} </p>
                    <div class="card_partners my-4">
                        <div class="project-statistics-container h-100 w-100 ">
                            <div class="project-statistics-item mb-2 d-flex align-items-center justify-content-around p-3 shadow" style="border-radius: 30px;">
                                <img class="img-fluid mr-2 " src="{% static 'img/home/statistics/school.png' %}" alt="">
                                <div class="d-flex flex-column">
                                    <p class="mb-0">{{ program.schools_participated }}+</p>
                                    <small>Schools </small>
                                </div>
                            </div>
                            <div class="project-statistics-item mb-2 d-flex align-items-center justify-content-around p-3 shadow" style="border-radius: 30px;">
                                <img class="img-fluid mr-2 " src="{% static 'img/home/statistics/students.png' %}" alt="">
                                <div class="d-flex flex-column">
                                    <p class="mb-0">{{program.students_trained}}+</p>
                                    <small>Students <br>Trained</small>
                                </div>
                            </div>
                            <div class="project-statistics-item mb-2 d-flex align-items-center justify-content-around p-3 shadow" style="border-radius: 30px;">
                                <img class="img-fluid mr-2 " src="{% static 'img/home/statistics/teachers.png' %}" alt="">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <p class="mb-0">{{program.teachers_trained}}+</p>
                                    <small>Teachers <br>Trained</small>
                                </div>
                            </div>
                            <div class="project-statistics-item mb-2 d-flex align-items-center justify-content-around p-3 shadow" style="border-radius: 30px;">
                                <img class="img-fluid mr-2 " src="{% static 'img/past_programs/assam.png' %}" alt="">
                                <p class="d-flex">{{ program.state }}</p>
                            </div>
                            <div class="project-statistics-item mb-2 d-flex align-items-center justify-content-around p-3 shadow" style="border-radius: 30px;">
                                <img class="img-fluid mr-2 " src="{% static 'img/home/statistics/districts.png' %}" alt="">
                                <p class="d-flex">{{ program.district_participated }} DISTRICTS</p>
                            </div>
                        </div>

                    </div>
                    <div class="mb-5 content_headings">
                        <h3 style="color: #F58420;">SUPPORT</h3>
                        <div class="d-flex flex-wrap shadow" style="border-radius: 30px;">
                            <div class="partner-logo d-flex flex-wrap p-2">
                                {% for partner in program.partner.all %}
                                <img class="mb-3 img-fluid" src="{{ partner.logo.url }}" alt="partner logo">
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class=" content_headings">
                        <h3 style="color: #F58420;">OBJECTIVE</h3>
                        <p>{{ program.objective|safe }}</p>
                    </div>
                    <div class=" content_headings mb-5">
                        <h3 style="color: #F58420;">ACTION</h3>
                        <p class="text-justify">{{ program.action|safe }}</p>
                    </div>
                    <div class=" content_headings">
                        <h3 style="color: #F58420;">IMPACT</h3>
                        <p class="text-justify">{{program.impact}}</p>
                    </div>
                </div>
            </div>
        </div>

        {% empty %}

        <div class="container">
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.3);"></div>
            <h2 class="text-muted">No Past Programs !!!</h2>
            <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.3);"></div>
        </div>
        {% endfor %}
    </section>


    <section id="upcoming_projects" class="my-5">
        <div class="container p-5">
            <p class="text-center section_heading">Our<span style="color: #F58420;"> Upcoming  </span>Projects:</p>
            <p class="text-center text-muted section_subheading">Unveiling New Projects for Boundless Growth and Learning!</p>
            <div class="upcoming_project_cards my-5">
                {% for program in upcoming_programs %}
                <div class="d-flex my-5 justify-content-center align-items-center community_card_container {% if forloop.counter|divisibleby:2 %}flex-row-reverse{% endif %}">
                    <img class="community_img mb-4 img-fluid {% if forloop.counter|divisibleby:2 %}ml-md-5{% else %}mr-md-5{% endif %}" src="{{ program.image1.url }}" alt="">
                    <div class="d-flex flex-column">
                        <p class="community_card_heading">{{program.heading}}</p>
                        <p class="community_card_description text-muted text-justify"> {{ program.description }} </p>
                    </div>
                </div>

                {% empty %}
                <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.3);"></div>
                <h2 class="text-muted">No Upcoming Programs !!!</h2>
                <div class="my-5" style="border: 1px solid rgba(0, 0, 0, 0.3);"></div>
                {% endfor %}

            </div>
        </div>
    </section>

    {% include 'includes/footer.html' %}
{% endblock %}
