{% extends 'base.html' %}
{% load static %}

{% block title %} Programs {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/programs.css' %}">
{% endblock %}

{% block content %}
    <section id="hero">
        <img class="program_banner_img img-fluid" src="{% static 'img/programs/program_banner.jpg' %}" alt="">
        <div class="overlay">
            {% include 'includes/navbar1.html' %}

            <div class="program_banner_content d-flex justify-content-center align-items-center">
                <div class="container d-flex flex-column justify-content-center align-items-center">
                    <p class="program_heading"><span style="color: #F58420;">Projects Unlocking Future Potential</span>: Empowering the 21st Century Mind </p>
                    <p class="program_subheading">Explore, Innovate, and excel through our cutting-edge skills, STEM activities, and skills development projects to prepare students for a successful future in a rapidly changing world.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="services">
        <div class="container my-5">
            <p class="text-center" style="font-size: 60px; margin-bottom: 100px;"><span class="p-3" style="border-bottom: 15px solid #F58420;">What we Offer?</span></p>
            <div class="d-flex justify-content-around align-items-center">
                <img class="services_img" onclick="display1()" style="width: 20%;" src="{% static 'img/programs/21st Century Skill Programs .png' %}" alt="">
                <img class="services_img" onclick="display2()" style="width: 15%; height: 15%;" src="{% static 'img/programs/STEM Activities.png' %}" alt="">
                <img class="services_img" onclick="display3()" style="width: 20%;" src="{% static 'img/programs/Skill Development .png' %}" alt="">
            </div>
            <div class="container border my-5 p-5 rounded" id="program_block_1">
                <div class="row">
                    <div class="col-md-6 project-images">
                        <div class="d-flex flex-column">
                            <img class="img-fluid mb-3 program_img" src="{% static 'img/Home Page/AI coding lab 23.jpg' %}" alt="">
                            <img class="img-fluid mb-3 program_img" src="{% static 'img/Home Page/Quiz Competition.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2><span style="color: #F58420;">21st Century</span> Skill Programs</h2>
                        <p>21st Century Skill Programs are educational initiatives designed to equip students with the skills and competencies necessary for success in the modern world.</p>
                        <ol>
                            <li class="mb-3">Tinkering Lab: A space for hands-on exploration and innovation, encouraging creativity and problem-solving.</li>
                            <li class="mb-3">AI Lab: Develops students' skills in machine learning and data analysis, enabling them to understand and work with AI technologies.</li>
                            <li class="mb-3">STEM Lab: Engages students in interdisciplinary learning, emphasizing science, technology, engineering, and mathematics through practical projects.</li>
                            <li class="mb-3">3D Design and Printing: Teaches students to create virtual models and transform them into physical objects with 3D printers.</li>
                            <li class="mb-3">Electronics and Coding: Focuses on electronics, circuitry, and programming, empowering students to build and program their own devices.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="container border my-5 p-5 rounded" id="program_block_2">
                <div class="row">
                    <div class="col-md-6 project-images">
                        <div class="d-flex flex-column">
                            <img class="img-fluid mb-3 program_img" src="{% static 'img/programs/program_1.jpg' %}" alt="">
                            <img class="img-fluid mb-3 program_img" src="{% static 'img/programs/program_2.jpg' %}" alt="">
                            <img class="img-fluid mb-3 program_img" src="{% static 'img/Home Page/Quiz Competition.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2><span style="color: #F58420;">Skill</span> Development Program</h2>
                        <p>Skills Development Program focuses on improving the skills and qualifications of individuals to improve employability and career opportunities. Here are some components commonly found in such programs</p>
                        <ol>
                            <li class="mb-3">21st Century Skill Training: This training equips individuals with the essential skills needed to succeed in today's world, such as critical thinking, problem-solving, communication, collaboration, creativity, and digital literacy.</li>
                            <li class="mb-3">Coding, Robotics, AI, Automation: Programs that provide training in coding, robotics, artificial intelligence (AI), and automation enable individuals to develop technical skills in these emerging fields. They learn programming languages, explore robotics and automation concepts, and gain an understanding of AI technologies.</li>
                            <li class="mb-3">Entrepreneurial Mindset: Developing an entrepreneurial mindset involves cultivating traits like creativity, innovation, risk-taking, and adaptability. Skill development programs may include activities that foster entrepreneurial thinking, idea generation, business planning, and the fundamentals of starting and managing a business.</li>
                            <li class="mb-3">Employability Skills Training: These programs focus on improving individuals' employability skills, including resume writing, interview preparation, effective communication, time management, teamwork, and professional etiquette. The aim is to prepare individuals for the job market and help them succeed in their chosen careers.</li>
                            <li class="mb-3">Job Placement: Skill development programs often include job placement services or collaborations with employers to facilitate the transition of individuals into the workforce. This can involve job search assistance, career counseling, networking opportunities, and internships or apprenticeships to gain practical experience.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="container border my-5 p-5 rounded" id="program_block_3">
                <div class="row">
                    <div class="col-md-6 project-images">
                        <div class="d-flex flex-column">
                            <img class="img-fluid mb-3 program_img" src="{% static 'img/Home Page/iot.jpg' %}" alt="">
                            <img class="img-fluid mb-3 program_img" src="{% static 'img/Home Page/Club formation.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2><span style="color: #F58420;">STEM</span> Activities</h2>
                        <p>STEM Activities are educational initiatives that focus on engaging students in science, technology, engineering, and mathematics (STEM) learning.</p>
                        <ol>
                            <li class="mb-3">Science/Maths Clubs: These clubs provide a platform for students to explore science and mathematics through hands-on experiments, demonstrations, discussions, and problem-solving activities.</li>
                            <li class="mb-3">Science Congress: Science congress events bring together students to present their research projects, scientific discoveries, and innovative ideas in a competitive or collaborative environment, fostering scientific inquiry and communication skills.</li>
                            <li class="mb-3">STEM Kits: STEM kits are hands-on learning resources that contain materials, tools, and instructions for students to conduct STEM experiments or projects at home or in the classroom. They promote exploration, problem-solving, and critical thinking skills.</li>
                            <li class="mb-3">State/National Quiz: State or national-level quizzes in science, mathematics, or general knowledge test students' knowledge, problem-solving abilities, and critical thinking skills in a competitive setting.</li>
                            <li class="mb-3">State/National Olympiad: Olympiads are competitive exams conducted at the state or national level to identify and recognize students' excellence in STEM subjects. They encourage students to deepen their understanding, apply concepts, and solve challenging problems.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="enquiry" class="my-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1><span style="color: #F58420;">Enquiry</span> Form</h1>
                    <h5 class="text-muted mb-4">Interested in conducting an Educational Program? Fill out to learn more!</h5>

                    <form action="" method="post">
                        <input type="text" name="full_name" id="full_name" class="form-control mb-2" placeholder="Full Name">
                        <input type="email" name="email" id="email" class="form-control mb-2" placeholder="Email Address">
                        <input type="text" name="country" id="country" class="form-control mb-2" placeholder="Country">
                        <input type="text" name="state" id="state" class="form-control mb-2" placeholder="State">
                        <input type="text" name="org_name" id="org_name" class="form-control mb-2" placeholder="Name of School / Organization">
                        <input type="number" name="phone" id="phone" class="form-control mb-2" placeholder="Mobile Number">
                        <textarea name="query" id="query" cols="30" rows="5" class="form-control mb-2" placeholder="Type your query here..."></textarea>
                        <button class="btn text-white w-100 py-2" style="background-color: #0172D0;">Submit</button>
                    </form>
                </div>
                <div class="col enquiry_image">
                    <div class="d-flex h-100 align-items-center">
                        <img class="w-100 img-fluid" src="{% static 'img/Home Page/enquiry.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include 'includes/footer.html' %}

    {% block extra_js %}
        <script src="{% static 'js/program.js' %}"></script>
    {% endblock %}
{% endblock %}