{% extends 'base.html' %}
{% load static %}

{% block title %} Services {% endblock %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/services.css' %}">

    <style>
        .card_image{
        height: 200px;
        object-fit: cover;
        }
        .card{
        width: 16rem;
        border-radius: 20px;
        }

    </style>
{% endblock %}

{% block content %}
    <section id="hero">
        <img class="program_banner_img img-fluid" src="{% static 'img/programs/program_banner.jpg' %}" alt="">
        <div class="overlay">
            {% include 'includes/navbar1.html' %}

            <div class="program_banner_content d-flex justify-content-center align-items-center">
                <div class="container d-flex flex-column justify-content-center align-items-center">
                    <p class="program_heading"><span style="color: #F58420;">Projects Unlocking Future Potential</span>: Empowering the 21st Century Mind </p>
                    <p class="program_subheading">Explore, Innovate, and excel through our cutting-edge skills, STEM activities, and skills development projects to prepare students for a successful future in a rapidly changing world.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="services">
        <p class="text-center service_heading my-5"><span class="p-3" style="border-bottom: 15px solid #F58420; border-radius: 100px;">What we Offer?</span></p>
        <div class="container my-5" id="service_desktop">
            <div class="d-flex justify-content-around align-items-center flex-wrap">
                <div class="d-flex flex-column align-items-center service_header px-5 py-4" id="service_header_1" onclick="display1()">
                    <img class="img-fluid mb-3 select_program" src="{% static 'img/programs/artificial-intelligence.png' %}" alt="">
                    <p class="text-center select_program_text">21st Century <br>Skill Programs</p>
                </div>
                <div class="d-flex flex-column align-items-center service_header px-5 py-4" id="service_header_2" onclick="display2()">
                    <img class="img-fluid mb-3 select_program" src="{% static 'img/programs/stem.png' %}" alt="">
                    <p class="text-center select_program_text">STEM<br>Activities</p>
                </div>
                <div class="d-flex flex-column align-items-center service_header px-5 py-4" id="service_header_3" onclick="display3()">
                    <img class="img-fluid mb-3 select_program" src="{% static 'img/programs/abilities.png' %}" alt="">
                    <p class="text-center select_program_text">Skill<br>Development</p>
                </div>
            </div>
        </div>

        <div class="container my-5" id="service_mobile">
            <div class="d-flex justify-content-between align-items-center border shadow px-5 py-3 mb-3" onclick="display1()" style="border-radius: 30px; background-color: #ED7D31;;">
                <p class="mb-0 text-white">21<sup>st</sup> Century <br>Skill Program</p>
                <img class="img-fluid" src="{% static 'img/programs/artificial-intelligence.png' %}" style="width: 5rem;" alt="">
            </div>
            <div class="d-flex justify-content-between align-items-center border shadow px-5 py-3 mb-3" onclick="display2()" style="border-radius: 30px; background-color: #ED7D31;;">
                <p class="mb-0 text-white">Stem <br>Activities</p>
                <img class="img-fluid" src="{% static 'img/programs/stem.png' %}" style="width: 5rem;" alt="">
            </div>
            <div class="d-flex justify-content-between align-items-center border shadow px-5 py-3 mb-3" onclick="display3()" style="border-radius: 30px; background-color: #ED7D31;;">
                <p class="mb-0 text-white">Skill <br>Development</p>
                <img class="img-fluid" src="{% static 'img/programs/abilities.png' %}" style="width: 5rem;" alt="">
            </div>
        </div>


        <section class="py-5" id="program_block_1" style="background-color: #fcb07a79; border: 1px solid black;">
            <h1 class="text-white text-center font-weight-bold py-3" style="background-color: #F58420;">21st CENTURY SKILL PROGRAMS</h1>
            <div class="container my-5"><h3 class="text-center">21st Century Skill Programs are educational initiatives designed to equip students with the skills and competencies necessary for success in the modern world.</h3></div>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex flex-column align-items-center programs_card" onclick="centuryCard1()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/century/TL_Lab/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">Tinkering Lab</h5>
                </div>
                <div class="d-flex flex-column align-items-center programs_card" onclick="centuryCard2()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/century/AI_Lab/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">AI Lab</h5>
                </div>
                <div class="d-flex flex-column align-items-center programs_card" onclick="centuryCard3()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/century/stem_activities/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">STEM Lab</h5>
                </div>
            </div>

            <div class="container my-5 p-5 border shadow" style="background-color: white; border-radius: 20px;">
                <div class="row">
                    <div class="col-lg-6 program_image d-flex flex-column" id="program_image_set_1"></div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h2 id="service_card_heading"></h2>
                        <div class="container p-0" style="background-color: #F58420; border-radius: 20px;">
                            <div class="p-3"></div>
                            <div class="text-center p-3 font-weight-bold" style="font-size: 20px; background-color: white;">EXECUTION DETAILS</div>
                            <div id="execution_point_1" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="execution_point_2" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="execution_point_3" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="execution_point_4" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="execution_point_5" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="execution_point_6" class="text-center py-3 mx-3 text-white font-weight-bold"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex flex-column align-items-center programs_card" onclick="centuryCard4()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/century/design_and_printing/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">3D Design & Printing</h5>
                </div>
                <div class="d-flex flex-column align-items-center programs_card" onclick="centuryCard5()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/century/electronics_and_coding/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">Electronics & Coding</h5>
                </div>
            </div>
        </section>

        <section class="py-5" id="program_block_2" style="background-color: #fcb07a79; border: 1px solid black;">
            <h1 class="text-white text-center font-weight-bold py-3" style="background-color: #F58420;">STEM Activities</h1>
            <div class="container my-5"><h3 class="text-center">STEM Activities are educational initiatives that focus on engaging students in science, technology, engineering, and mathematics (STEM) learning.</h3></div>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex flex-column align-items-center programs_card" onclick="stemCard1()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/stem/science_club/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">Science/Maths Clubs</h5>
                </div>
                <div class="d-flex flex-column align-items-center programs_card" onclick="stemCard2()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/stem/science_congress/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">Science Congress</h5>
                </div>
                <div class="d-flex flex-column align-items-center programs_card" onclick="stemCard3()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/stem/stem_kits/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">STEM Kits</h5>
                </div>
            </div>

            <div class="container my-5 p-5 border shadow" style="background-color: white; border-radius: 20px;">
                <div class="row">
                    <div class="col-lg-6 program_image d-flex flex-column"  id="program_image_set_2"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h2 id="stem_service_card_heading"></h2>
                        <div class="container p-0" style="background-color: #F58420; border-radius: 20px;">
                            <div class="p-3"></div>
                            <div class="text-center p-3 font-weight-bold" style="font-size: 20px; background-color: white;">EXECUTION DETAILS</div>
                            <div id="stem_execution_point_1" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="stem_execution_point_2" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="stem_execution_point_3" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="stem_execution_point_4" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="stem_execution_point_5" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="stem_execution_point_6" class="text-center py-3 mx-3 text-white font-weight-bold"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex flex-column align-items-center programs_card" onclick="stemCard4()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/stem/quiz/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">State/National Quiz</h5>
                </div>
                <div class="d-flex flex-column align-items-center programs_card" onclick="stemCard5()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/stem/olympiads/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">State/National Olympiad</h5>
                </div>
            </div>
        </section>

        <section class="py-5" id="program_block_3" style="background-color: #fcb07a79; border: 1px solid black;">
            <h1 class="text-white text-center font-weight-bold py-3" style="background-color: #F58420;">Skill Development Program</h1>
            <div class="container my-5"><h3 class="text-center">Skills Development Program focuses on improving the skills and qualifications of individuals to improve employability and career opportunities. Here are some components commonly found in such programs:</h3></div>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex flex-column align-items-center programs_card" onclick="skillCard1()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/skill/century/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">21st Century Skill Training</h5>
                </div>
                <div class="d-flex flex-column align-items-center programs_card" onclick="skillCard2()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/skill/robotics/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">Coding, Robotics, AI, Automation</h5>
                </div>
                <div class="d-flex flex-column align-items-center programs_card" onclick="skillCard3()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/skill/entrepreneurial_mindset/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">Entrepreneurial Mindset</h5>
                </div>
            </div>

            <div class="container my-5 p-5 border shadow" style="background-color: white; border-radius: 20px;">
                <div class="row">
                    <div class="col-lg-6 program_image d-flex flex-column" id="program_image_set_3"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h2 id="skill_service_card_heading"></h2>
                        <div class="container p-0" id="skill_execution_container" style="background-color: #F58420; border-radius: 20px;">
                            <div class="p-3"></div>
                            <div class="text-center p-3 font-weight-bold" style="font-size: 20px; background-color: white;">EXECUTION DETAILS</div>
                            <div id="skill_execution_point_1" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="skill_execution_point_2" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="skill_execution_point_3" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="skill_execution_point_4" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="skill_execution_point_5" class="text-center py-3 mx-3 text-white font-weight-bold" style="font-size: 20px; border-bottom: 5px solid white;"></div>
                            <div id="skill_execution_point_6" class="text-center py-3 mx-3 text-white font-weight-bold"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex flex-column align-items-center programs_card" onclick="skillCard4()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/skill/skills_training/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">Employability Skills Training</h5>
                </div>
                <div class="d-flex flex-column align-items-center programs_card" onclick="skillCard5()" style="cursor: pointer;">
                    <img class="card-img-top img-fluid" src="{% static 'img/services/skill/placements/card.jpg' %}" alt="Card image cap">
                    <h5 class="card-title text-center px-3 py-2 my-4">Job Placement</h5>
                </div>
            </div>
        </section>


    </section>


    {% include 'includes/footer.html' %}

    {% block extra_js %}
        <script src="{% static 'js/services.js' %}"></script>
    {% endblock %}
{% endblock %}